#header {
  height: 100vh;
  background-image: url("/assets/radiologia.jpg");
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
}

#header .pelicula {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

#header .pelicula h1 {
  opacity: 0;
  font-weight: 700;
  color: #fff;
  margin: 0 10px;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#header .pelicula h1.text-enema {
  animation-name: enema;
}

#header .pelicula h1.text-opaco {
  animation-name: opaco;
}

#doencas .card-image {
  height: 290px;
  background-position: center;
  background-size: cover;
}

#doencas .card-image.megacolon {
  background-image: url("/assets/megacolon.jpg");
}

#doencas .card-image.diverticulite {
  background-image: url("/assets/diverticulite.jpg");
}

#doencas .card-image.cancer {
  background-image: url("/assets/cancer-colateral.jpg");
  background-position: 100% !important;
}

#exame .int {
  background-position: 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-size: 270px;
  height: 190px;
}

#exame .int1 {
  background-image: url("/assets/intestino.png");
}

#exame .int2 {
  background-image: url("/assets/intestino2.png");
}

@keyframes enema {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

footer {
  background-color: #221d65;
}

footer * {
  color: #fff;
}

footer .insta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes opaco {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
