<div id="header">
  <div class="pelicula centralizado">
    <h1 class="text-enema">ENEMA</h1>
    <h1 class="text-opaco">OPACO</h1>
  </div>
</div>

<div class="container" id="doencas">
  <h4>Doenças que podem ser diagnosticadas</h4>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image megacolon">
          <span class="card-title">Megacólon</span>
        </div>
        <div class="card-content">
          <p>Megacólon. Essa patologia se caracteriza por uma dilatação anormal das paredes da mucosa do intestino, a
            etiologia se caracteriza pela ausência de células ganglionares nos plexos submucosos do intestino grosso.
            Pode ser adquirido por ingestão de substância tóxica. Geralmente requer
            procedimento cirúrgico, mas pode ser clínico dependendo do caso.</p>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image diverticulite">
          <span class="card-title">Diverticulite</span>
        </div>
        <div class="card-content">
          <p>Diverticulite. São caracterizados por adição de sacoliformes (como se fosse um balão cheio). As
            complicações mais frequentes são a hemorragia e a inflamação (geralmente a causa de sangramento nas fezes e
            quadros de diarreia). O tratamento é feito após análise clínica da causa da patologia por medicamentos de
            acordo com o grau da doença (leve, moderada ou grave).</p>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image cancer">
          <span class="card-title">Câncer coloretal (CCR)</span>
        </div>
        <div class="card-content">
          <p>Câncer coloretal (CCR). No Brasil, segundo o Inca é a terceira maior causa de morte entre homens e a
            segunda entre as mulheres. Geralmente é um quadro evoluído de outras doenças do intestino, podendo também
            ser hereditário. Entre os sintomas, a falta de defecação, icterícia (aspecto amarelado da pele), barriga
            proeminente (inchada). Tratamento cirúrgico.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="exame">
  <div class="row">
    <div class="col s6">
      <div class="int1 int"></div>
      <div class="int2 int"></div>
    </div>
    <div class="col s6">
      <h4 class="center">Enema Opaco</h4>
      <p>O exame enema opaco ou clister opaco, é um exame que utiliza raio x e contraste, geralmente sulfato de bário,
        para estudar a forma e a função do intestino grosso e reto, para detectar possíveis problemas intestinais, como
        diverticulite ou pólipos, por exemplo.</p>
      <p>O exame enema opaco pode ser feito tanto em adultos como crianças e pode ser dividido em enema opaco simples,
        quando se utiliza apenas um contraste, e em enema opaco com duplo contraste, quando é usado mais que um tipo de
        substância.</p>
      <p>O procedimento enema opaco dura cerca de 40 minutos, é realizado sem anestesia e o indivíduo pode sentir dores e
        desconforto durante o exame.</p>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Enema Opaco</h5>
        <p class="grey-text text-lighten-4">É válido ressaltar que em casos de persistência da dor o médico deve ser
          informado. **</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Rede Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3 insta" href="https://www.instagram.com/enema_opaco/" target="_blanc"><img src="assets/insta.png" alt="instagram" height="30px"> @enema_opaco</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Desenvolvido por
      <a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/papa-neto" target="_blanc">Papa Neto</a>
    </div>
  </div>
</footer>