<h2 class="center">Enema opaco</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ab laboriosam. Accusamus eos quisquam totam, itaque soluta cumque repudiandae explicabo nesciunt quibusdam expedita odio architecto minus maiores repellendus aperiam earum? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti quas praesentium porro quibusdam consectetur illum nisi natus architecto laborum deserunt. Voluptatum rem est voluptates alias quaerat pariatur ex non ipsum!</p>

<div id="enema" class="centralizado">
  <div class="left">
    <div class="int1 int"></div>
    <div class="int2 int"></div>
  </div>
  <div class="right">
    <h4>Titulo aqui</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quaerat vel, eius perferendis illo quibusdam commodi aliquid nostrum perspiciatis tempore incidunt sed, laborum repellendus ullam. Dicta, quidem sed. Facilis, optio. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, libero odit omnis accusantium assumenda ipsam aut suscipit, laudantium sapiente, modi in magnam delectus esse illo laboriosam optio minus adipisci placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perspiciatis, labore ad iste quia mollitia sunt culpa. Vel ut in incidunt quasi voluptatem necessitatibus fuga repellendus possimus illo, voluptates fugit.</p>
  </div>
</div>